*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

# Ignore the CDK cdk.json file
lambda/*.js

# Ignore the CDK asset metadata file
.env

# Ignore the CDK context file
cdk.context.json
